.navbar-brand img {
  width: 130px;
  height: 28px;
}
.navbar {
  border-bottom: 1px solid gray;
}

a{
    text-decoration: none;
    color:initial;
    font-size: initial;
    font-weight: initial;
    
}
a:hover{
   opacity: 0.8;
}
.subcribe{
  background-image: url(./img/pic3.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}